@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<a asp-action="Create" asp-controller="Home">Create new</a>

@if (Model != null && Model.Count() > 0) {
    <table class="d-lg-table table-hover">

        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Comment</th>
            <th>Date Of Purchase</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Comment</td>
                <td>@product.DateOfPurchase</td>
                <td>@product.Quantity</td>
                <td>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                    <a asp-controller="Home" asp-action="Remove" asp-route-id="@product.Id">Remove</a>
                </td>
            </tr>
        }

    </table>
}
else {
    <h4>There are no products to show.</h4>
}